#sec1{
    width: 100%;
    height: 100vh;
    background-image: url(../image/bg1.jpg);
    background-size: cover;
    background-position: center;
}
body{
    margin: 0px;
}
.sec1-cont {
    display: flex;
    /* width: 100%; */
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.icons {
    position: absolute;
    top: 10;
    right: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icons svg{
    margin-right: 20px;
}
.cont-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  "Jacques Francois";
}
.cont-name-scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:  "Jacques Francois";
}
.cont-name-scroll span{
    font-size: 20px;
}
.cont-name-scroll div{
    width: 50px;
    border-bottom: 2px solid black;
    margin-left: 14px;
    margin-top: 10px;
}
.cont-name span{
    font-size: 48px;
}
.cont-name div{
    width: 100px;
    border-bottom: 5px solid black;
    margin-left: 14px;
    margin-top: 14px;
}
.sec1-cont>span{
    font-size: 24px;
    font-family: "Inter";
}
#sec2{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#sec2>div{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hithere,.idesign{
    font-family: "Inter";
    font-size: 56;
    font-weight: 700;
    margin-top: 40px;
}
.hithere .highlight{
    background-color: #FFFAA3;
}
.idesign{
    margin-top: 30px;
}
.idesign .stroked{
    color: white;
    -webkit-text-stroke: 1px black;
    transform: all 0.5s ease;
}
.idesign a{
    text-decoration: none;
}
.green:hover{
    background: #C0FFA2;
    color: black;
    -webkit-text-stroke: 0px black;
}
.blue:hover{
    background: #A2FFF4;
    color: black;
    -webkit-text-stroke: 0px black;
}
.pink:hover{
    background: #D6A2FF;
    color: black;
    -webkit-text-stroke: 0px black;
}
.red:hover{
    background: #FFA2B8;
    color: black;
    -webkit-text-stroke: 0px black;
}
.iamux{
    font-weight: 400;
    font-size: 18;
    margin-top: 40px;
    line-height: 21px;
    margin-bottom: 100px;
    font-family: "Alice";
}
.myrecentwork{
    font-size: 18px;
    color: #757678;
    font-weight: 400;
    font-family: "Inter";
    padding-left: 110px;
    margin-bottom: 60px;
}
.screen{
    width: 900px;
    margin-bottom: 60px;
}
.letsconnect{
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
    font-family: "Inter";
}
.getintouch{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: "Alice";
}
.social a{
    margin-right: 20px;
}
.social{
    margin-bottom: 60px;
}
.MenuBaricon{
    position: fixed;
    right: 10px;
}
.menudiv{
    position: fixed;
    width: 100%;
    height: 60vh;
    background-color: #ffffffe3;
}
.menudiv.hidden{
    display: none;
}
.menudiv{
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-top: 50px;
    width: calc(100% - 100px);
}
.menudiv .cont-name span{
    font-size: 26px;
}
.menudiv .con1>span{
    font-size: 17px;
}
.con1 .cont-name div {
    width: 50px;
    border-bottom: 2px solid black;
    margin-left: 14px;
    margin-top: 5px;
}
.con1{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.scroller{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10px;
    padding-left: 40px;
}
.con2{
    display: flex;
    width: 60%;
}
.con2>div{
    display: flex;
    flex-direction: column;
}
.con2 .div1{
    width:15%;
}
.con2 .div2{
    width: 30%;
}
.con2 .div3{
    width: 30%;
}
.con2 .div4{
    width: 25%;
}
.menutitle{
    display: flex;
    font-size: 18px;
    font-family: "Alice";
    color: #BFBFBF;
    margin-bottom: 40px;
}
.menutitle DIV{
    border-bottom: 2px solid #BFBFBF;
    width: 38px;
    margin-left: 10px;
    margin-bottom: 7px;
}
.div2>span, .div3>a, .div2>a , .div3>span{
    margin-bottom: 23px;
    font-family: "Bellefair";
    font-size: 18px;
    text-decoration: none;
    color: black;
}
#cbdtsec1{
    width: 100%;
    height: 100vh;
    background-image: url(../image/CBDTBg.png);
    background-size: cover;
    background-position: center;
}
#timesheetsec1{
    width: 100%;
    height: 100vh;
    background-image: url(../image/Timesheetbg.png);
    background-size: cover;
    background-position: center;
}
#Indoorsec1{
    width: 100%;
    height: 100vh;
    background-image: url(../image/IndoorNaviBg.png);
    background-size: cover;
    background-position: center;
}
.cbdtsec, .timesheet{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cbdtsec .container.blue{
    width: calc(64%);
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color: #E2ECFE;
}
.cbdtsec .container.white{
    width: calc(64%);
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color: white;
}
.timesheetsec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timesheet .container.blue{
    width: calc(64%);
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color: #E2FEEF;
}
.timesheet .container.white{
    width: calc(64%);
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color: white;
}
.IndoorNavi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.IndoorNavi .container.blue{
    width: calc(64%);
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color: #F5FEE2;
}
.IndoorNavi .container.white{
    width: calc(64%);
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color: white;
}
.heading{
    font-family: "Inter";
    font-weight: 700;
    font-size: 41px;
    margin-bottom: 40px;
}
.statement{
    font-family: "Alice";
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.wireframebg{
    background: url(../image/Wireframes.png);
    background-size: auto;
    background-repeat: no-repeat;
    width: calc(100vw);
    height: 400px;
    margin-left: -30%;
    position: relative;
    left: 0;
    margin-top: 40px;
}
.indoormobileview{
    background: url(../image/IndoorNaviWireframe.png);
    background-size: contain;
    width: calc(100vw);
    background-repeat: no-repeat;
    height: 700px;
    margin-left: -30%;
    position: relative;
    left: 0;
    margin-top: 40px;
}
.indoormobileview1{
    background: url(../image/IndoorNaviWireframeHigh.png);
    background-size:contain;
    width: calc(100vw);
    background-repeat: no-repeat;
    height: 600px;
    margin-left: -30%;
    position: relative;
    left: 0;
    margin-top: 40px;
}
.highendprotobg{
    background: url(../image/Highend.png);
    background-size: auto;
    background-repeat: no-repeat;
    width: calc(100vw);
    height: 450px;
    margin-left: -30%;
    position: relative;
    left: 0;
    margin-top: 40px;
}
.highendprototimesheetbg{
    background: url(../image/WireframesTimesheetHigh.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100vw);
    height: 450px;
    margin-left: -30%;
    position: relative;
    left: 0;
    margin-top: 40px;
}
.uiscreenstimesheet{
    background: url(../image/UIscreenstimesheet.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100vw);
    height: 450px;
    margin-left: -30%;
    position: relative;
    left: 0;
    margin-top: 40px;
}
.moreproject {
    display: flex;
    font-size: 18px;
    font-family: "Alice";
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 90px;
}
.moreproject span{
    margin-bottom: 40px;
}
.moreproject>div{
    display: flex;
    justify-content: center;
}
.moreproject>div img{
    width: 40%;
}
.container .spliter{
    display: flex;
    flex-direction: row;
}
.container .spliter div{
    display: flex;
    flex-direction: column;
}
.heading2{
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter";
    columns: #757678;
    margin-bottom: 30px;
}
.btnyllow{
    padding: 20px;
    border-radius: 13px;
    background-color: #ECC438;
    color: black;
    font-family: "Alice";
    font-size: 18px;
    border:none;
    outline: none;
    width: 250px;
    margin-top: 50px;
    cursor: pointer;
}
#webappsec1{
    width: 100%;
}
.webapp-cont{
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 120px;
    flex-direction: column;
}
.web-heading{
    margin-bottom: 60px;
    font-family: "Inter";
    font-weight: 700;
    font-size: 56px;
}
.aboutpage{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: white;
}
.aboutpage>div{
    display: flex;
    padding: 45px;
    justify-content: center;
}
.aboutpage .imgdiv{
    display: flex;
    justify-content: center;
}
.aboutletsconnect{
    display: flex;
    flex-direction: column;
}
.contactinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.contactdet{
    display: flex;
    width: 100%;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}
.contactdet>div{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-family: "Alice";
    font-size: 18px;
}
.contactdet>div img{
    margin-right: 10px;
}
#myElement {
    /* position: sticky; */
    position: absolute;
    top: 0;
    display: none;
 }
 .sticky{
    position: sticky!important;
 }
 .cont-name-scroll a{
    text-decoration: none;
    color: black;
 }
 .visiblescrollele{
    display: flex!important;
 }
 .IndoorNavi .containerLR{
    display: flex;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: row;
    background-color: #ffffff;
}
.containerLR div{
    display: flex;
    flex-direction: column;
    
}